section.menu-popup
  .container  
    .row
      .col
        ul.navbar.upper
          li.navbar__item 
            a(href="#offer").navbar__link мы
          li.navbar__item 
            a(href="#opportunities").navbar__link возможности 
          li.navbar__item 
            a(href="#benefits").navbar__link преимущества
          li.navbar__item 
            a(href="#gallery").navbar__link галерея
          li.navbar__item 
            a(href="#events").navbar__link события
          li.navbar__item 
            a(href="#comment").navbar__link Отзывы
          li.navbar__item 
            a(href="#connection").navbar__link Контакты
    .row.navbar-footer
      .col-sm-6.col-12.d-flex.flex-column.justify-content-between
        .navbar-footer__socials.align-self-sm-end.align-self-center
          span.navbar-footer__us Мы в соцсетях:
          .navbar-footer__links
            a VK 
            a OK
            a Telegram
      .col-sm-6.col-12.d-flex.flex-column.justify-content-between
        .navbar-footer__addres.align-self-sm-start.align-self-center
          | Москва, 
          br
          | Волоколамское шоссе, д.88